#eclipse
.project
.classpath
bin/
.settings/
.properties

application.properties
application-dev.properties
application-prod.properties
Temp.java
Temp.class
tempp.txt
.env
target
/.metadata/

hibernate.cfg.xml
